<%- include('./common/head.ejs') %>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <%- include('./common/sidebar.ejs') %>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <%- include('./common/topnav.ejs') %>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">중앙대학교 산업보안학과</h1>
                    <p>중앙대학교 산업보안학과에 오신것을 환영합니다.</p>
                    <form action="/page/create_process" method="post">
                        <p><input type="text" name="title" placeholder="title"></p>
                        <p>
                          <textarea name="description" placeholder="description"></textarea>
                        </p>
                        <p>
                          <button class="btn btn2-success">작성하기</button>
                        </p>
                    </form>                  
                </div>
            </div>
        </div>
        <%- include('./common/bottom.ejs') %>