<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Chung-Ang UNIV. SANBO</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">중앙대학교 산업보안학과</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">학과소개</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">교육과정</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">입학안내</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">대학생활</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">대학원</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">자료실</a>
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">하위메뉴</a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!">기능1</a>
                        <a class="dropdown-item" href="#!">기능2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!">기타1</a>
                    </div>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">보이기/숨기기</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">홈으로</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">질문하기</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">보이기/숨기기</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">기능3</a>
                                        <a class="dropdown-item" href="#!">기능4</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">기타2</a>
                                    </div>
                                </li>
                                <li><button class="btn btn-success">Login</button></li> 
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">중앙대학교 산업보안학과</h1>
                    <p>중앙대학교 산업보안학과에 오신것을 환영합니다.</p>
                    <p>
                        구성원은 강준규 김민준 윤성빈 전동현
                        <br>
                        토글메뉴를 어케사용하는건지까진 아직 모르겠음
                    </p>
                    <button class="btn btn2-success">작성하기</button>                    
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
