<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">중앙대학교 산업보안학과</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">학과소개</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">교육과정</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">입학안내</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">대학생활</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">대학원</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">자료실</a>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">하위메뉴</a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#!">기능1</a>
            <a class="dropdown-item" href="#!">기능2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#!">기타1</a>
        </div>
    </div>
</div>